@import "../../styles.scss";

.span-spacer {
    flex: 1 1 auto;
}

.toolbar__mat {
  position: fixed;
  z-index: 100;
}

.button__option:hover {
  color:deeppink;
  font-weight: bolder;
  mat-icon{
    color: deeppink;
  }
}