@import "../../styles.scss";

.footer {
    min-height: 5vh;
    bottom: 0;
    background-color: $theme-accent;
    display: flex;
    justify-content: center;
    padding-top: 2vh;
    &__span {
        color: $font-secundary;
        
    }

    @include tablet {
        min-height: 4vh;
        padding-top: 3vh;
        font-size: 14px;
    }
    
}

//https://zoaibkhan.com/blog/create-a-responsive-card-grid-in-angular-using-flex-layout-part-1/