@import "../../styles.scss";

.section__knowledge {
    padding-top: 90px;
    justify-content: center;
    align-items: center;
    text-align: center;
    //height: 500px;
    @include desktop {
        padding-top: 150px;
        width: 1300px;
        margin: auto;
    }

    &.section__secundary {
        background-color: $theme-secundary;
    }
    &.section__primary {
        background-color: $theme-primary;
    }
}

.section__container {
        padding-top: 40px;
        padding-bottom: 20px;
        width: 90%;
        position: relative; 
        margin: auto; 

        @include tablet {
            padding-top: 50px;
            padding-bottom: 25px;
            width: 80%;
            position: relative; 
            margin: auto;
            
        }
        @include desktop {
            padding-top: 60px;
            padding-bottom: 30px;
            width: 90%;
            margin: auto;
            
        }
        &__intro{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            margin: auto;
            margin-bottom : 30px; 
            @include tablet {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 100%;
                margin: auto;
                margin-bottom : 35px;
            }
            @include desktop {
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                width: 100%;
                margin: auto;
                margin-bottom : 40px;
            }

            &__img{
                margin: auto;
                width: 150px;
                height: 150px;  
                
                @include tablet {
                    height: 210px;
                    width: 210px;
                }
                @include desktop {
                    height: 250px;
                    width: 250px;

                  }
            }

            &__text {
                width: 100%;
                margin: 20px auto auto;
                @include tablet {
                    width: 100%;
                    margin: 35px auto auto;
                }
                @include desktop {
                    width:70%;
                    margin: auto;
                }   
            }
        }

        &__tabs {

            & mat-tab-group {
                position: sticky;
                padding-bottom: 50px;
    
                @include desktop {
                    padding-bottom: 100px; 
                }
                

                & .items {
                   
                    width: 90%;
                    margin: auto;
                    padding: 20px 0px 20px;
                    box-sizing: border-box;

                    @include tablet {
                        width: 100%; 
                        padding: 30px 0px 20px;
                    }
                    @include desktop {
                        width: 100%;
                        padding: 30px 0px 20px; 
                    }
                     

                    & .item {
                        display: inline-flex;
                        min-width: 100%;
                        height: fit-content;
                        margin: 10px 5px 10px;
                        @include tablet { 
                            display: inline-flex;
                            min-width: 45%;
                            max-width: 45%;
                            height: fit-content;
                            margin: 10px 10px 10px;
                        }
                        @include desktop {
                            display: inline-flex; 
                            min-width: 30%;
                            max-width: 30%;
                            height: fit-content;
                            margin: 10px 10px 10px;
                            
                        }
                    }

                }

                
            }
        }

}
