<div class="button" role="menu">
    <button mat-fab class = "md-fab md-fab-bottom-left"  color="primary" [matMenuTriggerFor]="menu" aria-label="Example icon button with a delete icon">
      <mat-icon>more_vert</mat-icon>
    </button>


    <mat-menu class = "md-menu" #menu="matMenu" xPosition="after">
      <a *ngFor="let section of sections,  let i = index" href ="#section{{i}}" mat-menu-item >
        <mat-icon class = "items-menu">chevron_right</mat-icon>
        <span>{{section}}</span>
      </a>
    </mat-menu>
  </div>
