<div class="button" role="menu">
    <button mat-fab class = "md-fab md-fab-bottom-left"  color="primary" [matMenuTriggerFor]="menu" aria-label="Example icon button with a delete icon">
      <mat-icon>more_vert</mat-icon>
    </button>


    <mat-menu class = "md-menu" #menu="matMenu" xPosition="after">
      <a href ="#section1" mat-menu-item >
        <mat-icon class = "items-menu">chevron_right</mat-icon>
        <span>Inicio</span>
      </a>
      <a href ="#section2" mat-menu-item>
        <mat-icon class = "items-menu">chevron_right</mat-icon>
        <span>Conocimientos</span>
      </a>
      <a href ="#section3" mat-menu-item>
        <mat-icon class = "items-menu">chevron_right</mat-icon>
        <span>Experiencia</span>
      </a>
      <a href ="#section4" mat-menu-item>
        <mat-icon class = "items-menu">chevron_right</mat-icon>
        <span>Aficiones</span>
      </a>
      <a href ="#section5" mat-menu-item>
        <mat-icon class = "items-menu">chevron_right</mat-icon>
        <span>Contacto</span>
      </a>
    </mat-menu>
  </div>
