.items-menu {
    color: primary,
}

button.md-fab-bottom-left {
    top: auto;
    right: auto;
    bottom: 20px;
    left: 20px;
    position: fixed !important;
}

::ng-deep .md-menu {
    background-color: primary
}
