@import "../../styles.scss";

.presentation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 70px;

    @include desktop {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding-top: 80px;
        padding-bottom: 150px;
        //width: 80%;
    }

    &__img {
        
        margin: inherit;
        width: 200px;
        height: 200px; 
        position: relative;
        

        @include tablet {
            width: 300px;
            height: 300px;
        }
        @include desktop {
            width: 500px;
            height: 500px;
            margin-bottom: 0px;
            padding-left: 15%;
            padding-right: 5%;
          }
        
        & img {
            position: absolute;
            width: 100%;
            border-radius: 50%;
            box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
            @include desktop {
                width: 500px;
            }
        }
        
    }

    &__text {
        width:70%;
        padding: 35px;
        margin: auto;
        height: auto;
        
        //position: fixed;
        @include desktop {
            width: 40%;
            padding: 50px;
            //position: fixed;
        }

       /* & h1 {
            animation: pulse 1s infinite alternate
        }*/
        

    }

  /*  @keyframes pulse {
        0% {
          background-color: #001F3F;
        }
        100% {
          background-color: #FF4136;
        }
      }
      */
}

img.top{
    animation-name: opacityFunction;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 1500ms;
    animation-delay: 500ms;
    animation-direction: alternate;
}


@keyframes opacityFunction {
   0% {opacity:1; }
  10% { opacity:0.90; }
  20% { opacity:0.80; }
  30% { opacity:0.70; }
  40% { opacity:0.60; }
  50% { opacity:0.50; }
  60% { opacity:0.40; }
  70% { opacity:0.30; }
  80% { opacity:0.20; }
  90% { opacity:0.10; }
  100% { opacity:0; }
  }






