<section class = "presentation" id = "presentation">
    <div class = "presentation__img">
        <img class = "bottom"src = "../../assets/images/fotoPerfil.PNG" />
        <img class = "top"src = "../../assets/images/fotoPerfil4.PNG" />
    </div>
    <div class = "presentation__text">
        <h1 class = "">Buenas, soy Jonathan!!</h1>
        <p>Soy una persona soñadora, resiliente, dispuesta a ayudar y con ganas constantes 
        de aprender y mejorar en todos los aspectos, 
        con interés en el desarrollo web y el IoT.</p>
    </div>
</section>
