<!-- Toolbar -->
<app-header [actual] = "idioma" [sections] = "sections" (selected) = "updateLanguage($event)"></app-header>

<!-- Body -->
<div class="container" role="main">
  <app-presentation class ="section" id="section0" [perfil] = "perfil"></app-presentation>
  <app-about-me class ="section" id="section1" [aboutMe] = "aboutMe"></app-about-me>
  <app-bubble></app-bubble>
  <app-knowledge  class ="section" id = "section2" [knowledges] = "knowledges"></app-knowledge>
</div>

<app-footer></app-footer>

