<div class = "card__list">
    <app-card-item [avatar] = "'assets/images/fotoPerfil.PNG'" [text] = "'JavaScript'"></app-card-item>
    <app-card-item [avatar] = "'assets/images/fotoPerfil4.PNG'" [text] = "'HTML'"></app-card-item>
    <app-card-item [avatar] = "'assets/images/fotoPerfil.PNG'" [text] = "'SCSS'"></app-card-item>
    <app-card-item [avatar] = "'assets/images/fotoPerfil.PNG'" [text] = "'JavaScript'"></app-card-item>
    <app-card-item [avatar] = "'assets/images/fotoPerfil4.PNG'" [text] = "'HTML'"></app-card-item>
    <app-card-item [avatar] = "'assets/images/fotoPerfil.PNG'" [text] = "'SCSS'"></app-card-item>
    <app-card-item [avatar] = "'assets/images/fotoPerfil.PNG'" [text] = "'JavaScript'"></app-card-item>
    <app-card-item [avatar] = "'assets/images/fotoPerfil4.PNG'" [text] = "'HTML'"></app-card-item>
    <app-card-item [avatar] = "'assets/images/fotoPerfil.PNG'" [text] = "'SCSS'"></app-card-item>
</div>    
