@import "../../styles.scss";

.card {
    border-radius: 16px;
    width: 100%;
    max-height: 200px;
    background-image: url(../../assets/images/jonathan.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: inherit;
    transition: max-height 1s;
    transform-origin: top;
    ;

    @include tablet {
        max-height: 250px;
    }
    @include desktop {
        max-height: 300px;
    }
   
    position: relative;
    overflow: hidden;
    box-shadow: 0 0px 10px black;

    & .back {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        background-color: rgba(#263238,.90);
    }

    & .img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;

        & span {
            width: 100%;
            height: 100%;
            background-image: url(../../assets/images/jonathan.png);
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: inherit;
            transition: opacity 1.2s;
            background-position: center;          
        }
    }
}

.card:hover {
    max-height: 320px;

    @include tablet { 
        max-height: 420px;
    }
    @include desktop { 
        max-height: 500px;
    }
    
    .img span {
        opacity: 0;
    }
    
    .content {
        transform: scale(1,1);
        transition: .5s;
        transition-delay: .1s;
        height: 100%;
    }                    
}

.content {

    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    padding: 20px 40px;
    width: 100%;
    height: 100%;
    transition: 0.3s;
    transform: scale(1,0);

    & .text {
        padding: 10px 0 10px;
        border-top: 1px solid white;
        border-bottom: 1px solid white;

        @include desktop {
            padding: 12px 0 12px;
            border-top: 1.5px solid white;
            border-bottom: 1.5px solid white;
        }

      
        & ul {
            padding-left: 0px;
            & li {
                margin-bottom: 2px;
                & p{
                    text-align: initial;
                }
            }
        }

        & .highlights {
            text-align: initial;
            & .highlights_item {
                margin-right: 5px;
                background-color: mediumturquoise;
                padding: 0px 10px 0px;
                border-radius: 50px;
                font-weight: bold;
            }
        }

    }
    
}