/* You can add global styles to this file, and also import other style files */

//Colors
$font-primary: #006064;
$font-secundary: grey;
$theme: #006064;
$theme-primary: rgb(236, 234, 223);
$theme-secundary: rgb(145, 166, 167);
//Size
$tablet: 768px;
$desktop: 1280px;



@mixin tablet {
    @media all and (min-width: $tablet) {
      @content;
    }
  }
  
  @mixin desktop {
    @media all and (min-width: $desktop) {
      @content;
    }
  }


* { 
  font-family: Courier, "Lucida Console", monospace;
  scroll-behavior: smooth;
}

html, body { height: 100%; }
body { margin: 0;  }

h1, h4, p { 
    font-family: Courier, "Lucida Console", monospace;
    font-weight: bold;
} 
    
h2, h3 {
  font-family: Fantasy, "Copperplate", monospace;
  font-weight: bold;
}
h1, h2 {
    color : $font-primary; 
    font-size: 30px;
    
    @include tablet {
        font-size: 60px;
        line-height: 64px;
        height: auto;
    }  
}

h3 {
  color : $font-primary; 
    font-size: 15px;
    
    @include tablet {
        font-size: 40px;
        height: auto;
    }  
}
p {
    color: $font-secundary;
    font-size: 25px;
    
    @include tablet {
        font-size: 40px;
        line-height: 64px;
        height: auto;
    }
}

h4 {
  color: $font-secundary;
    font-size: 15px;
    margin-block: auto;
    
    @include tablet {
        font-size: 31px;
        margin-block: auto;
        //line-height: 64px;
        //height: auto;
    }
}




