/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

//Colors
$title-primary: #263238;
$title-secundary: #263238;
$title-item: mediumturquoise;;
$subtitle-primary: #263238;
$subtitle-secundary: white;
$font-primary: rgb(104, 100, 100);
$font-secundary: white;
$theme: #006064;
$theme-primary: gainsboro;
$theme-secundary: mediumturquoise;
$theme-accent: #263238;

//Size
$tablet: 768px;
$desktop: 1024px;


@mixin mobile {
  @media (max-width: ($tablet - 1px)) {
    @content;
  }
}
@mixin tablet {
    @media  (min-width: $tablet) and (max-width: ($desktop - 1px)){
      @content;
    }
  }
  
@mixin desktop {
  @media all and (min-width: $desktop) {
    @content;
  }
}

.none-mobile {
  @include mobile {
    display:none;
  }
}

.none-tablet {
  @include tablet {
    display:none;
  }
}

.none-desktop {
  @include desktop {
    display:none;
  }
}


* { 
  font-family: 'Bitter', serif;
  scroll-behavior: smooth;
}

html, body { height: 100%; width:100% }
body { margin: 0;  }

//Font type
h3, h4, p { 
    font-family: 'Bitter', serif;
    font-weight: bold;
} 
h1, h2 { 
  font-family: 'Alfa Slab One', cursive;
  text-shadow: 0 0 20;
}



h1 {
    font-size: 3em;
    line-height: 1em;
    @include tablet {
        font-size: 55px;
        line-height: 64px;
        height: auto;
    } 
    @include desktop {
      font-size: 55px;
      line-height: 64px;
      height: auto;
    } 

    &.h1__presentation {
      color: gainsboro;
      // text-shadow: 0 0 20px $font-primary;
    }
   
}



h2 {
    font-size: 25px;
    
    @include tablet {
        font-size: 30px;
        line-height: 64px;
        height: auto;
    }
    @include desktop {
      font-size: 40px;
      line-height: 64px;
      height: auto;
  }

    &.h2__primary {
      color: $title-primary;
      //text-shadow: 0 0 5px black;
    }
    &.h2__secundary {
      color: $title-secundary;
    }
}

h3 {
    font-size: 19px;
    
    @include tablet {
        font-size: 23px;
        height: auto;
    } 
    @include desktop {
      font-size: 28px;
      height: auto;
  } 
    
    &.h3__primary {
      color: $subtitle-primary;
    }
    &.h3__secundary {
      color: $subtitle-secundary;
    }
}


p {
  font-size: 1.7em;
  line-height: 1.2em;
  
  @include tablet {
      font-size: 25px;
      line-height: 30px;
      height: auto;
  }

  @include desktop {
    font-size: 25px;
    line-height: 35px;
    height: auto;
 }

  &.p__presentation {
    color: white;
  }

  &.p__item{
    font-size: 15px;
    margin-block: auto;
    
    @include tablet {
        font-size: 20px;
        margin-block: auto;
    }
    @include desktop {
      font-size: 24px;
      margin-block: auto;
  }
  }

  &.p__normal{
    font-weight: 100;
    font-size: 15px;
    line-height: 1.5em;
    margin-block: auto;
    
    @include tablet {
        font-size: 20px;
        line-height: 30px;
        margin-block: auto;
    }
    @include desktop {
      font-size: 23px;
      line-height: 34px;
      margin-block: auto;
    }
  }

  &.p__title{
    font-size: 15px;
    line-height: 1.3em;
    
    @include tablet {
        font-size: 20px;
        line-height: 25px;
        height: auto;
    }

    @include desktop {
      font-size: 23px;
      line-height: 25px;
      height: auto;
    }
  }

  &.p__item{
    font-size: 12px;
    line-height: 1.5em;
    font-weight: 100;
    
    @include tablet {
        font-size: 14px;
        line-height: 25px;
        font-weight: 100;
    }

    @include desktop {
      font-size: 17px;
      line-height: 25px;
      font-weight: 100;
    }
  }

  

  &.p__primary {
    color: $font-primary;
  }
  &.p__primary {
    color: $font-secundary;
  }
  &.p__accent {
    color: $title-item;
  }
}


span {

  &.span__item{
    font-size: 14px;
    line-height: 1.5em;
    font-weight: 100;
    
    @include tablet {
        font-size: 14px;
        line-height: 25px;
        font-weight: 100;
    }

    @include desktop {
      font-size: 17px;
      line-height: 25px;
      font-weight: 100;
    }
  
  }

  &.span__primary {
    color: $title-primary;
  }
  &.span__secundary {
    color: $font-secundary;
  }
  &.span__accent {
    color: $title-item;
  }

  &.span__app {
    font-family: 'Alfa Slab One', cursive;
    // text-shadow: 0 0 20px $font-primary;
    color: $title-primary;
    -webkit-text-stroke: 2px gainsboro;
    font-size: 65px;

    @include tablet {
      font-size: 60px;
    }

    @include mobile {
      font-size: 47px;
    }
  }

  &.span__header {
    font-family: "Alfa Slab One", cursive;
    text-shadow: 0 0 40px black; 
    color: gainsboro;
    font-size: 20px;

    @include tablet {
      font-size: 20px;
    }

    @include mobile {
      font-size: 20px;
    }
  }
}

.material-icons{
  font-family: 'Material Icons' !important;
}
