<section class="section__knowledge">
    <h2>·· CONOCIMIENTOS ··</h2>
    <div class="section__container">
        <mat-tab-group mat-align-tabs="center" class="section__container__tabs">
            <mat-tab>
                <ng-template mat-tab-label>
                  <h3>Tecnologías</h3>
                </ng-template>
                <app-list-card-item></app-list-card-item>            
            </mat-tab>
            <mat-tab>
                <ng-template mat-tab-label>
                  <h3>Herramientas</h3>
                </ng-template>
                <app-list-card-item></app-list-card-item>
            </mat-tab>
        </mat-tab-group>
    </div>
</section>
