@import "../../styles.scss";

.section__knowledge {
    padding-top: 90px;
    justify-content: center;
    align-items: center;
    text-align: center;

    @include desktop {
        padding-top: 150px;
        width: 1300px;
        margin: auto;
    }

    &.section__secundary {
        background-color: $theme-secundary;
    }
    &.section__primary {
        background-color: $theme-primary;
    }
}

.section__container {
        padding-top: 50px;
        width: 92%;
        position: relative; 
        margin: auto; 

        @include desktop {
            padding-top: 70px;
            width: 1000px;
            margin: auto;
            
        }

        & mat-tab-group {
            position: sticky;
            padding-bottom: 50px;

            @include desktop {
                padding-bottom: 100px;
                
            }

            & .card__list {
                padding: 10px;
                display: contents;
                @include desktop {
                    padding: 20px;
                }
            }

            & ::ng-deep .mat-tab-body-wrapper {
                margin-top: 10px;
                @include tablet {
                    padding: 20px;
                }
                @include desktop {
                    padding: 30px;
                }
            }
        }
}


